@font-face {
  font-family: Arial-BoldMT;
  src: url(fonts/ArialMT-Bold.ttf);
}

@font-face {
  font-family: ArialMT;
  src: url(fonts/ArialMT-Light.ttf);
}

@font-face {
  font-family: Arial-ItalicMT;
  src: url(fonts/ArialMT-Italic.ttf);
}

.txt-times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.txt-arial-bold {
  font-family: "Arial-BoldMT", sans-serif;
}

.txt-arial-mt {
  font-family: "ArialMT", sans-serif;
}

.txt-arial-italic-m {
  font-family: "Arial-ItalicMT", sans-serif;
}

.txt-arial-italic-mt {
  font-family: "Arial-ItalicMT", sans-serif;
}

.til-color {
  color: #0a6395;
}

* {
  font-size: 12px;
}

body {
  padding: 30px 40px 30px 25px;
  background-color: #fff;
}

.main-container {
  background-color: #e6f3fb;
  width: 300px;
  margin: 0 auto;
  padding: 8px 13px 20px 16px;
}

.blog-pic-desc {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin: 10px 20px 14px 12px;
}

.blog-desc {
  padding-top: 3px;
}

.sec-content {
  background-color: transparent;
}

.sec-info {
  background-color: #fff;
  border-top: 6px solid #f7a418;
  margin: 0;
}

.blog-msg-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 2px;
}

.blog-msg-item {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f9f1c1;
  height: 35px;
  color: #0a6395;
  padding-left: 15px;
}

.horo-pic-desc {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.horo-footer {
  position: relative;
  text-align: center;
}

.horo-footer-content {
  position: absolute;
  font-size: 11px;
  display: flex;
  flex-direction: column;
}

.competion-info {
  border-style: solid;
  border-color: #595959;
  border-width: 1px;
  padding: 12px;
  color: #4d5d73;
}

.news-pic-desc {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.news-desc {
  display: flex;
}

.news-desc-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-more {
  text-decoration: none;
  color: #0a6395;
}

.divider-dots {
  border: none;
  border-top: 1px solid #595959;
  margin: 5px 0;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  font-size: 16px;
}

h4 {
  font-family: "Arial-BoldMT", sans-serif;
  margin: 0;
}

p {
  font-family: "ArialMT", sans-serif;
  margin: 0;
}
